parameters:
    level: 6

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        -
            message: '#^Access to an undefined property RecaptchaMailhide\\Controller\\MailhideController::\$Recaptcha\.$#'
            path: src/Controller/MailhideController.php

        -
            message: '#^Call to an undefined method Cake\\Core\\PluginApplicationInterface::getPlugins\(\)\.$#'
            path: src/Plugin.php

        -
            message: '#^Access to an undefined property RecaptchaMailhide\\View\\Helper\\MailhideHelper::\$Html\.$#'
            path: src/View/Helper/MailhideHelper.php

        -
            message: '#^Access to an undefined property#'
            path: tests/TestCase

        -
            message: '#has no return typehint specified\.$#'
            path: tests/TestCase
