parameters:
    level: 8

    paths:
        - config
        - src
        - tests

    bootstrapFiles:
        - tests/bootstrap.php

    checkGenericClassInNonGenericObjectType: false
    checkMissingIterableValueType: false
    treatPhpDocTypesAsCertain: false

    excludes_analyse:
        -  tests/test_app/

    ignoreErrors:
        -
            message: '#^Call to an undefined method Cake\\Core\\PluginApplicationInterface::getPlugins\(\)\.$#'
            path: src/Plugin.php

        -
            message: '#^Access to an undefined property RecaptchaMailhide\\View\\Helper\\MailhideHelper::\$Html\.$#'
            path: src/View/Helper/MailhideHelper.php

        -
            message: '#does not accept PHPUnit\\Framework\\MockObject\\MockObject.$#'
            path: tests/TestCase

        -
            message: '#has no return typehint specified\.$#'
            path: tests/TestCase

        -
            message: '#^Cannot call method translate\(\) on Aura\\Intl\\TranslatorInterface\|null\.$#'
            path: tests/TestCase/I18nTest.php
